img{
    width: 50%;
    margin: 0% auto;
    display: block;
}

header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: steelblue;
    color: yellow;
}

* p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: whitesmoke;
}

pre{
    text-align: center;
    background-color:yellow ;
    color: blue;
}

#PG{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: aqua;
    color: tomato;

}

#SG{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: silver;
    color: gold;
}

#TG{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:royalblue ;
    color:red;
}

#CG{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color:rgb(0, 225, 255) ;
    color:violet;
}

#QG{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

#SxG{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center ;
    background-color: crimson;
    color: blue;
}

#SpG{
    text-align: center;
    background-color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:purple;


}

#OG{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: steelblue;
    color: brown;
}

body{
    background: url(Recursos/PKlogo.png);

    display: grid;
    grid-template-columns: 4fr 0.5fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footerfooter";
    gap: 1em;
}

aside {
    color: steelblue;
    background: url(Recursos/Pokemon-Logo\ 2\ .png);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

aside a {
    background: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

aside:hover{
    background: url(Recursos/pokeball.png);
}

footer{
    background: url(Recursos/pokeball.png);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ol{
    background: tomato;
    color: steelblue;
}

ol :hover {
    background: steelblue;
    color: tomato;
}

