* p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    color: blue;
}

h1{
    text-align: center;
    background-color: darkblue;
    color: yellow;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    text-align: center;
    background-color: darkblue;
    color: yellow;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightskyblue;
}

select{
    background-color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

option{
    background-color: lightseagreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



table{
    text-align: center;
    background-color: lightskyblue;
}

table th {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:url(Recursos/pokeball.png);

}

ol a {
    color: tomato;
}

ol :hover{
    background-color: tomato;
    color: whitesmoke;
}

body{
    background: url(Recursos/carta.jpg);

}